API_ID= 9680209
API_HASH= 9e13eefdd01fea3fbaa13c01f2c92d23
BOT_TOKEN= 6629456565:AAEZ4eiQIGIJ3zSqCAlD0YPk7rCWeZAU6Ec
LOGGER_ID= -1001638435013
MONGO_DB_URI= mongodb+srv://ritu:ritu@cluster0.h8cfhjm.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 1781037279
STRING_SESSION= AgCTtVEABifwAloCDtJfY25ssi-LqU_AXUpO61P_CFrIK7PmVi0Yj7vxw51kgWuBkOBcAtbttPdUqS7ydpOZuzjlT84tHPdgyxHEb6XzSuvbBhY85anl_9DbIZ3sMdIEPJzbz0Et5UkWAdjPqg5a9COZYiMbYKF60x6ijLgF6EUZlaT8FZp8eC4Tuss6ynARWM_jAq1R7mOGhMI0Kn5XnAlIwc3SgCIBpbfFu6e9cdIwVo5lKj3iSqr-HaQaByI0Fgh25Bm_v7x1MNP-eszlRjmcqREh0kLKEy8xNsVao0jZPKOC1Jrj9vG7lzVEOL11otO43MlNu9Ly7G1F6jt4OzoiMyAIUgAAAAEvQtvtAA
